#avatar {
    margin-bottom: 10px;
	border: solid 1px #222;
    border-radius: 290486px;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

body.dark-theme #avatar {
    border: solid 1px #a9a9b3;
}

#avatar img {
    border-radius: 290486px;
    display: block;
    height: auto;
    width: 100%;
}
