{{ define "main" }}
    <main aria-role="main">
        <div>
            <figure id="avatar" class="has-marginx-auto image is-200x200">
                <img class="home-avatar" src="{{ .Site.Params.homeAvatar | relURL }}" alt="{{ .Site.Author }}" />
            </figure>
        
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
